body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    display: flex;
    color: #000000;
    max-width: 660px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 150px;
}

main {
    flex: 1;
}

h1 {
    font-size: 2.0em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.0em;
    margin-top: 30px;
    margin-bottom: 20px;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.location {
    color: #6E7783;
    margin-top: 5px;
    font-size: 0.9em;
}

.location a {
    color: #6E7783;
    text-decoration: none;
}

.location a:hover {
    text-decoration: underline;
}

.location i {
    margin-right: 5px;
}

.social-links {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    border: 1px solid #e6e4e4;
    color: #6E7783;
    margin-right: 2px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-links a:hover {
    background-color: #f0f0f0;
    border-color: #999;
    color: #333;
}

.social-links iconify-icon {
    font-size: 20px;
    width: 20px !important;
    height: 20px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bio p {
    margin-bottom: 15px;
    color: #424C59;
}

.work-list {
    list-style-type: none;
    padding: 0;
    border-top: 2.5px dotted #e5e5e5;  /* Add top border to the entire list */
}

.work-item {
    border-bottom: 2.5px dotted #e5e5e5;  /* Change to dotted border */
    padding: 7px 0;  /* Add some padding */
}

.work-item-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 0;
    position: relative;
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
}

.work-item.active .dropdown-arrow {
    transform: rotate(180deg);
}

.work-item-header img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    border-radius: 25%;
}

.company-name {
    font-size: 15px;
    color: #000000;
    margin-right: 10px;
}

.role {
    font-size: 12px;
    color: #666;
    font-weight: 350;
    margin-right: auto;
}

.work-item-header .iconify {
    transition: transform 0.3s ease;
}

.work-item-content {
    color: #666;
    max-height: 0;
    font-size: 14px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.work-item-content p {
    padding: 0 0 15px 45px;
    margin: 0;
}

.work-item.active .work-item-header .iconify {
    transform: rotate(180deg);
}

.work-item.active .work-item-content {
    max-height: 500px; /* Adjust this value based on your content */
}

.work-item-header:hover {
    background-color: transparent;  /* Remove the background color change on hover */
    text-decoration: none;
}

.writing-list {
    list-style-type: none;
    padding: 0;
}

.writing-list li {
    border-top: 1px dashed #e0e0e0;
    padding: 5px 0;
}

.writing-list li:last-child {
    border-bottom: 1px dashed #e0e0e0;
}

.writing-list a {
    text-decoration: none;
    color: inherit;
    display: inline-block;  /* Changed from block to inline-block */
    cursor: pointer;
}

.writing-list h3 {
    font-size: 15px;
    margin: 0 0 5px 0;
    font-weight: normal;
    color: #000;
}

.writing-list a:hover h3 {
    background-color: transparent;  /* Remove the background color change on hover */
    text-decoration: none;
}

.writing-list p {
    margin: 0;
    color: #666;
    font-size: 12px;
    cursor: default;  /* Ensures the cursor doesn't change over the paragraph */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff; /* Light gray background */
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    color: #6e7783; /* The color you mentioned earlier */
    border-top: .5px solid #e0e0e0; /* Subtle top border */
}

footer p {
    margin: 0;
}

footer kbd {
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

#command-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 500px;
}

#command-menu input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#command-menu .menu-items button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background: none;
    cursor: pointer;
}

#command-menu .menu-items button:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}